.about-us-container {
  margin-top: 85px;
}

.about-us-container .au-text {
  position: relative;
}
.about-us-container .au-text small {
  position: absolute;
  top: -10px;
  color: var(--light-shadow-white-color);
  letter-spacing: 0.1rem;
}
.about-us-container .au-text h2 {
  font-size: 28px;
}
.about-us-container .breadcrumb {
  margin: 5px 0px;
}
.about-us-container .breadcrumb .home-page,
.about-us-container .breadcrumb .home-page a {
  display: flex;
  align-items: center;
}
.about-us-container .breadcrumb svg {
  width: 15px;
  height: 15px;
}
.about-us-container .breadcrumb .arrow-icon {
  display: flex;
  align-items: center;
}
.about-us-container .breadcrumb .arrow-icon svg {
  fill: none;
  margin: 0 6px;
  width: 13px;
  height: 13px;
}
.about-us-container .breadcrumb {
  align-items: center;
}
.about-us-container .breadcrumb .breadcrumb-page {
  font-size: 14px;
}

.about-us-container .about-us-text .main-text {
  color: var(--normal-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* فقط 2 خط نمایش داده می‌شود */
  -webkit-box-orient: vertical;
  line-height: 1.5;
}
.about-us-container .about-us-text .main-text::after {
  background: var(--background-color);
  margin-top: -24px;
  width: 100%;
  opacity: 0.9;
  right: 0;
  bottom: 70px;
  height: 24px;
  box-shadow: 0px -11px 73px 37px var(--background-color);
  position: absolute;
  content: "";
}
.about-us-container .about-us-text .hide-after::after {
  display: none !important;
}
#show-txt {
  display: block;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: unset;
  margin: 22px auto;
  outline: unset;
  color: var(--dark-blue-text-color);
  font-weight: 500;
  position: relative;
  z-index: 100;
  font-size: 16px;
  background: unset;
}
