/* *************************   belog title section ************************* */
/* *************************   belog  section ************************* */

/* ************************* start  belog title section ************************* */
.belog-title-section {
  margin-top: 85px;
}

.belog-title-section .header-text {
  position: relative;
}
.belog-title-section .header-text small {
  position: absolute;
  top: -10px;
  color: var(--light-shadow-white-color);
  letter-spacing: 0.1rem;
}
.belog-title-section .header-text h2 {
  font-size: 32px;
  font-family: peyda-bold;
}
.belog-title-section .breadcrumb {
  margin: 5px 0px;
}
.belog-title-section .breadcrumb .home-page,
.belog-title-section .breadcrumb .home-page a {
  display: flex;
  align-items: center;
}
.belog-title-section .breadcrumb svg {
  width: 15px;
  height: 15px;
}
.belog-title-section .breadcrumb .arrow-icon {
  display: flex;
  align-items: center;
}
.belog-title-section .breadcrumb .arrow-icon svg {
  fill: none;
  margin: 0 6px;
  width: 13px;
  height: 13px;
}
.belog-title-section .breadcrumb {
  align-items: center;
  margin-bottom: 25px;
}
.belog-title-section .breadcrumb .breadcrumb-page {
  font-size: 14px;
}

/* استایل‌های جدید */
.belog-title-section .programming-fields {
  margin: 10px 0;
  position: relative;
}

.belog-title-section .programming-fields .wrapper {
  border-radius: 20px;
  padding: 30px 20px;
  background-color: var(--light-white-color);
  height: 100%;
}

.belog-title-section .programming-fields .wrapper h4 {
  color: var(--normal-text-color);
  font-size: 20px;
  margin: 15px 0 25px 0;
  text-align: center;
  font-weight: 200;
}

.belog-title-section .programming-fields .content .scroll-container {
  max-height: 400px;
  overflow-y: hidden;
  position: relative;
  padding-left: 45px;
}

.belog-title-section .programming-fields .content .scroll-content {
  overflow-y: auto;
  max-height: 400px;
  scrollbar-width: none;
}

.belog-title-section
  .programming-fields
  .content
  .scroll-content::-webkit-scrollbar {
  display: none;
}

.belog-title-section .programming-fields .content .item {
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--normal-text-color);
  text-align: center;
  padding: 30px;
  background-color: var(--background-color);
  border-radius: 20px;
}

.belog-title-section .programming-fields .content .item:hover {
  background-color: var(--medium-blue-color);
  color: var(--light-white-text);
}

.belog-title-section .programming-fields .content .item.active {
  background-color: var(--dark-blue-color);
  color: var(--light-white-text);
}

/* اسکرول بار سفارشی */
.belog-title-section .programming-fields .content .custom-scrollbar {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 10px;
  height: calc(100% - 20px);
  background: var(--background-color);
  border-radius: 14px;
}

.belog-title-section .programming-fields .content .custom-scrollbar-thumb {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  left: -4px;
  box-shadow: 0 0px 0px 6px var(--light-white-color);
}

.belog-title-section
  .programming-fields
  .content
  .custom-scrollbar-thumb
  .inside {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background: #0d47a1;
  position: absolute;
  left: 0.25rem;
  top: 0.21rem;
}

/* بخش تصویر */
.belog-title-section .programming-fields .image-preview {
  padding: 0;
  padding-left: 30px;
}
.belog-title-section .programming-fields .section {
  padding: 0;
}
.belog-title-section .programming-fields .image-wrapper {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--light-white-color);
  padding: 30px;
  padding-bottom: 0;
}

.belog-title-section .programming-fields .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.belog-title-section .programming-fields .image-wrapper .active-content img {
  display: block;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* رسپانسیو */
@media (max-width: 768px) {
  .belog-title-section .programming-fields .image-preview {
    padding-left: 0;
    margin-top: 20px;
  }

  .belog-title-section .programming-fields .content .scroll-container {
    max-height: 300px;
  }
}

/* استایل‌های جدید برای بخش توضیحات */
.belog-title-section .programming-fields .image-container {
  display: none;
  height: 100%;
  flex-direction: column;
}

.belog-title-section .programming-fields .image-container.active-content {
  display: flex;
  animation: fadeIn 0.5s ease;
}

.belog-title-section .programming-fields .image-container img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 15px;
}

.belog-title-section .programming-fields .description {
  background: #f5f5f5;
  border-radius: 0 0 12px 12px;
  height: 30%;
}
.belog-title-section .programming-fields .description .header {
  margin-top: -25px;
  display: flex;
  justify-content: center;
}
.belog-title-section .programming-fields .description .header p {
  display: inline;
  width: 30%;
  background: var(--light-white-color);
  text-align: center;
  padding: 13px;
  border-radius: 28px;
  position: relative;
  color: var(--dark-blue-text-color);
}
.belog-title-section .programming-fields .description .header p span {
  position: relative;
}
.belog-title-section .programming-fields .description .header p span::after {
  position: absolute;
  width: 8px;
  height: 8px;
  content: "";
  background-color: var(--dark-blue-color);
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.belog-title-section .programming-fields .description .header p::before {
  margin-top: -24px;
  border-bottom-left-radius: 35px;
  width: 20px;
  right: -16px;
  top: 31px;
  transform: rotate(352deg);
  height: 20px;
  background: transparent;
  box-shadow: -7px 7px 0 var(--light-white-color);
  position: absolute;
  content: "";
}
.belog-title-section .programming-fields .description .header p::after {
  margin-top: -24px;
  border-bottom-right-radius: 35px;
  width: 20px;
  left: -16px;
  top: 31px;
  transform: rotate(8deg);
  height: 20px;
  background: transparent;
  box-shadow: 7px 7px 0 var(--light-white-color);
  position: absolute;
  content: "";
}
.belog-title-section .programming-fields .description .body {
  padding-top: 10px;
}
.belog-title-section .programming-fields .description .body h3 {
  font-size: 24px;
}
.belog-title-section .programming-fields .description .body p {
  color: var(--normal-text-color);
  padding-top: 5px;
}
.belog-title-section .programming-fields .description .footer {
  display: flex;
  padding-top: 10px;
}
.belog-title-section .programming-fields .description .footer .item {
  padding: 0 20px;
  margin: 0 8px;
  color: var(--normal-text-color);

  position: relative;
}
.belog-title-section
  .programming-fields
  .description
  .footer
  .item:first-of-type {
  padding-right: 0;
}
.belog-title-section .programming-fields .description .footer .item::after {
  content: "|";
  position: absolute;
  top: 0;
  left: -6px;
  color: var(--normal-text-color);
}
.belog-title-section
  .programming-fields
  .description
  .footer
  .item:last-of-type::after {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ************************* end  belog title section ************************* */
/* ************************* start  belog section ************************* */

.blog-section .wrapper:hover {
  background-color: var(--background-color);
  border: 1px solid var(--light-white-border-color);
  margin: 25px 0;
  border-radius: 20px;
}
.blog-section .wrapper:hover .text-field .body h4 {
  color: var(--dark-blue-text-color);
}
.blog-section .wrapper {
  background-color: var(--light-white-color);
  margin: 25px 0;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  border-radius: 20px;
}
.blog-section .wrapper .image-section {
  height: 200px;
  display: flex;
  flex-direction: column;
}
.blog-section .wrapper .image-section img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.blog-section .wrapper .text-field {
  padding: 15px 10px 20px 10px;
}
.blog-section .wrapper .text-field .header p {
  position: relative;
  margin-right: 15px;
  color: var(--dark-blue-text-color);
  padding: 10px 0;
}
.blog-section .wrapper .text-field .header p::after {
  position: absolute;
  width: 8px;
  height: 8px;
  content: "";
  background-color: var(--dark-blue-color);
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.blog-section .wrapper .text-field .body h4 {
  font-size: 20px;
  font-family: peyda-bold;
  padding: 10px 0;
}
.blog-section .wrapper .text-field .footer {
  display: flex;
  justify-content: space-between;
}
.blog-section .wrapper .text-field .footer .item {
  width: 60%;
}
.blog-section .wrapper .text-field .footer .item {
  font-size: 14px;
  padding: 10px 0;
}
/* ************************* start  belog section ************************* */

@media (max-width: 992px) {
  .belog-title-section .programming-fields .content .scroll-container {
    max-height: 320px;
  }
  .belog-title-section .programming-fields .image-container img {
    width: 100%;
    height: 60%;
  }
}
@media (max-width: 768px) {
  .belog-title-section .programming-fields .wrapper {
    margin-top: 35px;
  }
}
