/*************** start contact us  ***************/
.contact-us-container .about-us-text .main-text {
  color: var(--normal-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.5;
}
.info-container {
  margin-bottom: 50px;
  margin-top: 50px;
}
.top-info {
  border-radius: 20px;
  background: var(--light-white-color);
}
.bott-info .container {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--light-white-text);
  background: var(--dark-blue-color);
  padding: 10px 0;
}

.bott-info .text-field svg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 15px;
}
.bott-info .text-field {
  align-items: center;
  font-size: 14px;
}

.top-info .item .icon {
  height: 55px;
  width: 55px;
  padding: 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: var(--light-blue-color);
}
.top-info .item {
  padding: 15px 0;
}
.top-info .item.icon {
  position: relative;
}
.top-info .item.icon svg{
  left: 55px;
  z-index: 10;
  bottom: -77px;
  width: 245px;
  height: 245px;
  position: absolute;
}
.top-info .item .wrapper {
  margin: 15px 0;
}
.top-info .item .icon svg {
  width: 100%;
  height: 100%;
}
.top-info .item .text-field p {
  color: var(--normal-text-color);
  text-align: right;
}
.top-info .item .text-field span {
  font-size: 18px;
}
.top-info .item .text-field {
  direction: ltr;
}
.top-info .item .text-field {
  padding-right: 10px;
}
.top-info .item .wrapper-pages .icon {
  margin-left: 32px;
}

.map-location img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}
.map-location .image-container {
  height: 400px;
  position: relative;
}
.map-location .image-container::after {
  content: ""; /* ایجاد یک لایه خالی برای سایه */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%); /* سایه از پایین به بالا */
  pointer-events: none; /* جلوگیری از تداخل با کلیک روی عکس */
  border-radius: 20px;
}
.map-location {
  margin: 85px 0 50px 0;
}
.map-location .wrapper {
  display: flex;
  justify-content: center;
}
.map-location .wrapper .item svg {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.map-location .wrapper section {
  padding: 13px;
  background: var(--background-color);
  margin-top: -38px;
  border-radius: 28px;
  justify-content: space-between;
}
.map-location .wrapper section::after {
  background: inherit;
  margin-top: -24px;
  border-bottom-right-radius: 35px;
  width: 26px;
  left: -25px;
  background: inherit;
  bottom: 34px;
  transform: rotate(8deg);
  height: 29px;
  background: transparent;
  box-shadow: 7px 7px 0 var(--background-color);
  position: absolute;
  content: "";
}
.map-location .wrapper section::before {
  background: inherit;
  margin-top: -24px;
  border-bottom-left-radius: 35px;
  width: 26px;
  right: -26px;
  bottom: 34px;
  transform: rotate(352deg);
  height: 29px;
  background: transparent;
  box-shadow: -7px 7px 0 var(--background-color);
  position: absolute;
  content: "";
}

.map-location .more-information {
  display: flex;
  justify-content: center;
  color: var(--light-white-text);
}
.map-location .more-information .item {
  padding: 10px;
  margin: 0 5px;
}
.map-location .more-information .item .icon svg {
  width: 55px;
  height: 55px;
  margin-left: 10px;
}
.map-location .more-information .item .text-field {
  display: flex;
  align-items: center;
}
.map-location .more-information .right-side {
  background-color: var(--normal-red-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.map-location .more-information .left-side {
  background-color: var(--normal-yellow-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: var(--text-color);
}
.form-container {
  margin: 50px 0;
}
.form-container form input {
  border-radius: 20px;
  padding: 10px 15px;
  background: var(--light-white-color);
  outline: none;
  border: none;
  width: 100%;
  margin: 5px 0;
}
.form-container form .submit {
  width: 125px;
  background: var(--light-blue-color);
  color: var(--dark-blue-text-color);
  cursor: pointer;
}
.form-container form textarea {
  height: 150px;
  min-width: 100%;
  max-width: 100%;
  border-radius: 20px;
  padding: 10px 15px;
  background: var(--light-white-color);
  outline: none;
  border: none;
  width: 100%;
  margin: 5px 0;
}
.form-container .container {
  padding: 0 30px;
}
/*************** end contact us  ***************/
@media (max-width: 1400px) {
  .map-location .more-information .item .text-field {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .map-location .more-information .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: unset;
  }
  .map-location .more-information .wrapper .item {
    flex: unset;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    margin: 10px 0;
  }
  .more-information {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .top-info .item.icon svg {
    left: 0px;
    width: 200px;
    height: 200px;
}
  .top-info .item .wrapper-pages {
    justify-content: space-between;
    margin-left: 20px;
  }
  .top-info .item .wrapper-pages .icon {
    margin-left: 0;
  }

  .bott-info .text-field {
    align-items: center;
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .map-location .wrapper section::before {
    bottom: 29px;
  }
  .map-location .wrapper section::after {
    bottom: 29px;
  }
  .top-info {
    padding: 0 25px;
  }
  
  .bott-info .text-field {
    font-size: 16px;
  }
  .top-info .item .icon {
    height: 45px;
    width: 45px;
  }
  .map-location .image-container {
    height: 250px;
  }

  .form-container .container {
    padding: 0;
  }
  .map-location .more-information .wrapper {
    padding: 0;
  }
  .map-location .wrapper .item svg {
    width: 35px;
    height: 35px;
  }
  .top-info .item.icon svg {
   position: unset;
   
}
.top-info .item.icon {
  display: flex;
  justify-content: center;
}
}
@media (max-width: 576px) {
  .top-info .item.icon {
    margin: 15px 0;
  }
  .map-location .image-container {
    height: 185px;
  }
  .top-info .item .wrapper-pages {
    margin-left: 0px;
}
.top-info .item .text-field span {
  font-size: 18px;
}
.top-info .item .wrapper {
  justify-self: center;
}
.top-info .item .email-wrapper{
  justify-self: center;
  margin-right: 40px;
}
.top-info .item .wrapper-pages  .icon {
  margin: 0 11px;
}
.top-info .item .wrapper-pages {
  justify-content: center;
}
.top-info .item {
  padding: 0;
}
.top-info {
  padding: 20px 25px;
}
.top-info .item .wrapper-pages {
  margin: 0 35px;
}
.bott-info .text-field {
  font-size: 14px;
}
.map-location .wrapper section::before {
  bottom: 22px;
  right: -22px;
}
.map-location .wrapper section::after {
  bottom: 22px;
  left: -22px;
}
.map-location .wrapper .item svg {
  width: 30px;
  height: 30px;
}
.map-location .wrapper section {
  padding: 8px 13px;
  margin-top: -30px;
}
}
