footer {
  background-color: var(--light-white-color);
  margin-bottom: 85px;
}
footer .back-to-top-section {
  justify-content: center;
  display: flex;
}
footer .back-to-top-section button {
  margin-top: -20px;
  display: block;
  border-radius: 18px;
  font-size: 16px;
  position: relative;
  padding: 10px 21px;
  background: var(--background-color);
  border: 2px solid var(--light-white-color);
  color: var(--normal-text-color);
  cursor: pointer;
}
footer .back-to-top-section .scroll-to-top {
  position: relative;
}
footer .back-to-top-section .scroll-to-top::after {
  position: absolute;
  border-top-right-radius: 22px;
  width: 15px;
  left: -14px;
  transform: rotate(-20deg);
  bottom: 3px;
  height: 100%;
  box-shadow: 8px -8px 0 0px var(--background-color);
  position: absolute;
  content: "";
}
footer .back-to-top-section .scroll-to-top::before {
  position: absolute;
  border-top-left-radius: 22px;
  width: 15px;
  right: -14px;
  transform: rotate(20deg);
  bottom: 3px;
  height: 100%;
  box-shadow: -8px -8px 0 0px var(--background-color);
  position: absolute;
  content: "";
  z-index: 10;
}
footer .back-to-top-section button::after {
  position: absolute;
  height: 7px;
  z-index: 300;
  width: 32px;
  content: "";
  right: -32px;
  border-bottom-left-radius: 79px;
  top: 7px;
  border-left: 2px solid var(--light-white-color);
  border-bottom: 2px solid var(--light-white-color);
}
footer .back-to-top-section button::before {
  position: absolute;
  height: 7px;
  z-index: 300;
  width: 32px;
  content: "";
  left: -32px;
  border-bottom-right-radius: 79px;
  top: 7px;
  border-right: 2px solid var(--light-white-color);
  border-bottom: 2px solid var(--light-white-color);
}
footer .logo-section h2 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: var(--dark-blue-text-color);
  text-align: center;
}
footer .text-section strong {
  font-weight: 100;
}
footer .main-section {
  padding-top: 15px;
  border-top: 2px solid var(--light-blue-color);
  border-bottom: 2px solid var(--light-blue-color);
  margin: 35px 0;
}
footer .main-section .contact .header {
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 2px solid var(--light-blue-color);
}
footer .main-section .contact .footer .telephone,
footer .main-section .contact .footer .location {
  align-items: center;
  padding: 0;
  justify-content: space-around;
  display: flex;
}
footer .main-section .contact .footer .telephone svg,
footer .main-section .contact .footer .location svg {
  width: 65px;
  fill: var(--normal-text-color);
}
footer .main-section .contact .footer .telephone .number {
  padding: 10px;
}
footer .main-section .contact .footer .telephone .number pre {
  padding: 5px 0;
  font-size: 20px;
}
footer .main-section .contact .footer .telephone .number pre:first-of-type {
  font-weight: 600;
}
footer .main-section .contact .footer .location .text {
  font-weight: 600;
  font-size: 14px;
}
footer .enamad,
footer .samandehi,
footer .samandehi-2 {
  display: flex;
  align-items: center;
}
footer .enamad img,
footer .samandehi img,
footer .samandehi-2 img {
  height: 150px;
  border-radius: 20px;
  background: var(--light-blue-color);
  padding: 10px;
}

footer .copyright-container {
  justify-content: center;
  display: flex;
}
footer .copyright-container p {
  margin-bottom: -20px;
  display: block;
  border-radius: 18px;
  font-size: 16px;
  position: relative;
  padding: 10px 21px;
  background: var(--background-color);
  border: 2px solid var(--light-white-color);
  color: var(--normal-text-color);
  cursor: pointer;
}
footer .copyright-container .copyright-section {
  position: relative;
}
footer .copyright-container .copyright-section::after {
  position: absolute;
  border-bottom-right-radius: 22px;
  width: 15px;
  left: -14px;
  transform: rotate(-340deg);
  z-index: 100;
  top: 3px;
  height: 100%;
  box-shadow: 8px 8px 0 0px var(--background-color);
  position: absolute;
  content: "";
}
footer .copyright-container .copyright-section::before {
  border-bottom-left-radius: 22px;
  width: 15px;
  right: -14px;
  transform: rotate(340deg);
  top: 3px;
  height: 100%;
  box-shadow: -8px 8px 0 0px var(--background-color);
  position: absolute;
  content: "";
  z-index: 10;
}
footer .copyright-container p::after {
  position: absolute;
  height: 7px;
  z-index: 300;
  width: 32px;
  content: "";
  right: -32px;
  border-top-left-radius: 79px;
  bottom: 7px;
  border-left: 2px solid var(--light-white-color);
  border-top: 2px solid var(--light-white-color);
}
footer .copyright-container p::before {
  position: absolute;
  height: 7px;
  z-index: 300;
  width: 32px;
  content: "";
  left: -32px;
  border-top-right-radius: 79px;
  bottom: 7px;
  border-right: 2px solid var(--light-white-color);
  border-top: 2px solid var(--light-white-color);
}

.bottom-line {
  background-color: var(--light-green-color);
  height: 25px;
  width: 225px;
  margin: 0 auto;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
  position: relative;
}
.bottom-line::before {
  position: absolute;
  box-shadow: -8px 18px 0px 4px var(--light-green-color);
  height: 27px;
  width: 20px;
  content: "";
  right: -15px;
  border-bottom-left-radius: 19px;
  bottom: 0px;
}
.bottom-line::after {
  position: absolute;
  box-shadow: 8px 18px 0px 4px var(--light-green-color);
  height: 27px;
  width: 20px;
  content: "";
  left: -15px;
  border-bottom-right-radius: 19px;
  bottom: 0px;
}

footer .samandehi-2 {
  display: none;
}
