.more-information {
  margin: 25px 0;
}
.more-information .right-side-information {
  width: 20%;
}
.more-information .left-side-information {
  width: 20%;
}

.more-information .video-container {
  position: relative;
  width: 60%;
}

.more-information .video-container .video {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 370px;
  border-radius: 20px;
}
.more-information .video-container::after {
  background: inherit;
  margin-top: -24px;
  border-bottom-right-radius: 22px;
  width: 26px;
  right: 310.16px;
  bottom: 0px;
  height: 26px;
  box-shadow: 7px 7px 0 #ffffff;
  position: absolute;
  content: "";
}
.more-information .video-container::before {
  background: inherit;
  margin-top: -24px;
  border-bottom-right-radius: 22px;
  width: 26px;
  right: 0;
  bottom: 34px;
  height: 26px;
  box-shadow: 7px 7px 0 #ffffff;
  position: absolute;
  content: "";
}
.more-information .video-container .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: rgba(141, 134, 134, 0.55);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 0px 15px rgba(141, 134, 134, 0.301);
  transition: all 0.3s ease;
}
.more-information .video-container:hover .play-button {
  box-shadow: 0px 0px 0px 22px rgba(141, 134, 134, 0.301);
}

.more-information .video-container .play-button svg use {
  fill: #ffffff;
}
.more-information .video-container svg {
  width: 65px;
  height: 35px;
  margin-left: 5px;
}

/* مخفی کردن دکمه وقتی ویدیو شروع شد */
.more-information .video-container .video.playing + .play-button {
  opacity: 0;
  pointer-events: none;
}
.more-information .video-container .view-container {
  border-top-left-radius: 20px;
  padding: 10px 0px 0px 16px;
  background: white;
  bottom: 0;
  position: absolute;
  color: var(--normal-text-color);
}
.more-information .video-container .view-container a {
  color: var(--dark-blue-text-color);
}
.more-information .video-container .view-container small {
  padding: 0 5px;
  font-size: 16px;
  color: var(--normal-text-color);
}
/* پنهان کردن افکت‌های after و before */
.video-container.hide-effects::after,
.video-container.hide-effects::before {
  display: none !important;
}

/* پنهان کردن view-container */
.video-container.hide-effects .view-container {
  display: none !important;
}

.more-information .right-side-information img {
  width: 100%;
  border-radius: 20px;
}
.more-information .right-side-information .wrapper {
  flex-direction: column;
  padding: 0 10px;
}

.more-information .right-side-information .inf-container {
  border-radius: 20px;
  padding: 18px 0;
  background: var(--light-green-color);
  text-align: center;
  color: var(--text-color);
}

.more-information .left-side-information .wrapper {
  flex-direction: column;
  padding: 0 10px;
}
.more-information .left-side-information .wrapper .inf-top {
  border-radius: 20px;
  padding: 30px 45px;
  color: var(--light-white-text);
  background: var(--dark-blue-color);
}
.more-information .left-side-information .wrapper .inf-top p {
  padding-bottom: 10px;
}

.more-information .left-side-information .wrapper .inf-bottom {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  padding: 15px;
  margin-top: 12px;
  direction: ltr;
  background: var(--light-blue-color);
  color: var(--text-color);
  flex-direction: column;
}
.more-information .left-side-information .wrapper .inf-bottom svg {
  width: 80px;
  height: 80px;
}
.more-information .left-side-information .wrapper .inf-bottom p:first-of-type{
  font-size: 17px;
  font-weight: 600;
  
}
