@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
  .more-information .right-side-information img {
    object-fit: cover;
    height: 200px;
  }
  .more-information .video-container .video {
    height: 290px;
  }

  .collapse-item {
    padding: 10px 30px 0 30px;
  }
  .more-information .left-side-information .wrapper .inf-top {
    padding: 7px 25px;
  }
  .more-information .left-side-information .wrapper .inf-bottom {
    padding: 9px;
  }
  .more-information .left-side-information .wrapper .inf-bottom svg {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 992px) {
  .more-information .video-container .video {
    height: 340px;
  }
  nav.large-responsive {
    display: none;
  }
  .more-information .video-container {
    width: 100%;
    margin-bottom: 50px;
  }
  .more-information .right-side-information {
    width: 40%;
  }
  .more-information .right-side-information img {
    height: unset;
  }
  .more-information .right-side-information .inf-container {
    font-size: 20px;
    padding: 29px 0;
  }
  .more-information .left-side-information {
    width: 60%;
  }
  .more-information .left-side-information .wrapper .inf-top {
    padding: 35px 120px;
  }
  .more-information .left-side-information .wrapper .inf-top p {
    padding-bottom: 15px;
  }
  .more-information .left-side-information .wrapper .inf-top li {
    padding: 5px 0;
  }
  .more-information .left-side-information .wrapper .inf-bottom {
    padding: 30px;
  }
  .more-information .left-side-information .wrapper .inf-bottom svg {
    width: 90px;
    height: 90px;
  }
  .more-information .left-side-information .wrapper .inf-bottom p {
    font-size: 23px;
  }
  .more-information
    .left-side-information
    .wrapper
    .inf-bottom
    p:first-of-type {
    font-size: 24px;
  }
  footer .main-section .contact .footer .telephone .number pre {
    padding: 5px 0;
  }
  footer .main-section .contact .footer .telephone .number {
    padding-right: 15px;
  }
  footer .main-section .contact .header {
    font-size: 14px;
  }
  footer .enamad img,
  footer .samandehi img {
    height: 115px;
  }
  footer .main-section .contact .footer .telephone .number pre {
    font-size: 15px;
  }
  footer .main-section .contact .footer .telephone svg,
  footer .main-section .contact .footer .location svg {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 992px) {
  nav.small-responsive {
    display: none;
  }
}
@media (max-width: 768px) {
  .collapse-item {
    padding: 10px 10px 0 10px;
  }
  .collapse-item {
    margin: 0 0px;
  }

  .more-information .left-side-information .wrapper .inf-bottom {
    padding: 15px;
  }
  .more-information .left-side-information .wrapper .inf-bottom svg {
    width: 70px;
    height: 70px;
  }
  .banner-container h4 {
    font-weight: 100;
    font-size: 14px;
  }
  .banner-container h2 {
    font-size: 22px;
  }
  footer .samandehi {
    display: none;
  }
  footer .main-section {
    flex-direction: column-reverse;
  }
  footer .samandehi-2 {
    display: flex;
  }
  footer .enamad img {
    width: 100px;
  }
  footer .enamad a {
    margin: 0 10px;
  }
  footer .enamad {
    display: flex;
    justify-content: center;
  }
  footer .main-section .contact .footer {
    flex-direction: column-reverse;
    margin-bottom: 15px;
  }
  footer .main-section .contact .header {
    flex-wrap: wrap;
  }
  footer .main-section .contact .header li {
    padding: 4px 10px;
  }

  .collapse-container {
    padding: 0 15px;
    border-radius: 0;
  }

  .more-information .right-side-information .inf-container {
    font-size: 14px;
    padding: 29px 0;
  }

  .more-information .left-side-information .wrapper .inf-bottom svg {
    width: 55px;
    height: 55px;
  }

  .more-information .left-side-information .wrapper .inf-bottom svg {
    width: 60px;
    height: 60px;
  }

  .more-information .left-side-information {
    width: 50%;
  }
  .more-information .right-side-information {
    width: 50%;
  }

  .more-information .video-container .video {
    height: 310px;
  }
  .more-information .right-side-information img {
    height: 310px;
  }
  .more-information .left-side-information .wrapper .inf-bottom p {
    font-size: 21.5px;
  }
  .more-information
    .left-side-information
    .wrapper
    .inf-bottom
    p:first-of-type {
    font-size: 22px;
  }
  .more-information .left-side-information .wrapper .inf-top li {
    padding: 5px 0px;
  }
  .more-information .left-side-information .wrapper .inf-top {
    font-size: 16px;
  }
  .more-information .left-side-information .wrapper .inf-top {
    padding: 32px 30px;
  }
  .more-information .video-container .view-container {
    bottom: 0;
    border-top-left-radius: 20px;
    padding: 10px 0px 0px 16px;
  }
  .more-information .video-container::after {
    bottom: 0;
    right: 275px;
  }
  .more-information .video-container::before {
    right: 0px;
    bottom: 33px;
  }
  footer .main-section .contact .footer {
    align-self: center;
  }
  .chart-container .left-side img.large {
    display: block;
  }
  .chart-container .left-side img.small {
    display: none;
  }
}
@media (max-width: 576px) {
  .chart-container .right-side p {
    font-size: 18px;
  }
  .chart-container .right-side h3 {
    font-size: 28px;
    padding-top: 10px;
  }
  .more-information .right-side-information img {
    height: 220px;
  }
  .more-information .left-side-information .wrapper .inf-bottom p {
    font-size: 17.5px;
  }
  .more-information .video-container .video {
    height: 230px;
    border-radius: 30px;
    padding: 15px;
  }
  .more-information
    .left-side-information
    .wrapper
    .inf-bottom
    p:first-of-type {
    font-size: 18px;
  }
  .more-information .left-side-information .wrapper .inf-top li {
    padding: 2px 0;
  }
  .more-information .left-side-information .wrapper .inf-top {
    font-size: 14px;
  }
  .more-information .video-container::before {
    right: 13px;
    bottom: 47px;
  }
  .more-information .video-container::after {
    right: 288px;
    bottom: 13px;
  }
  .more-information .video-container .view-container {
    border-top-left-radius: 20px;
    padding: 10px 13px 0px 16px;
    bottom: 13px;
  }

  .more-information .video-container .view-container {
    font-size: 14px;
  }
  .more-information .left-side-information .wrapper .inf-top {
    padding: 14px 30px;
  }
  nav.small-responsive .logo a {
    padding-right: 10px;
  }
}
@media (max-width: 400px) {
  .chart-container .right-side h3 {
    font-size: 18px;
  }
  .chart-container .right-side p {
    font-size: 12px;
  }
}
