.single-belog-title-section {
  margin-top: 85px;
}

.single-belog-title-section .header-text {
  position: relative;
}
.single-belog-title-section .header-text small {
  position: absolute;
  top: -10px;
  color: var(--light-shadow-white-color);
  letter-spacing: 0.1rem;
}
.single-belog-title-section .header-text h2 {
  font-size: 32px;
  font-family: peyda-bold;
}
.single-belog-title-section .breadcrumb {
  margin: 5px 0px;
}
.single-belog-title-section .breadcrumb .home-page,
.single-belog-title-section .breadcrumb .home-page a {
  display: flex;
  align-items: center;
}
.single-belog-title-section .breadcrumb svg {
  width: 15px;
  height: 15px;
}
.single-belog-title-section .breadcrumb .arrow-icon {
  display: flex;
  align-items: center;
}
.single-belog-title-section .breadcrumb .arrow-icon svg {
  fill: none;
  margin: 0 6px;
  width: 13px;
  height: 13px;
}
.single-belog-title-section .breadcrumb {
  align-items: center;
  margin-bottom: 25px;
}
.single-belog-title-section .breadcrumb .breadcrumb-page {
  font-size: 14px;
}
.single-belog-title-section .content-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.single-belog-title-section .content-section .image-wrapper {
  width: 80%;
}
.single-belog-title-section .content-section .image-wrapper img {
  border-radius: 20px;
}
.single-belog-title-section .content-section .text-field {
  width: 60%;
}
.single-belog-title-section .content-section .text-field .header {
  margin-top: -33px;
  display: flex;
  justify-content: center;
}

.single-belog-title-section .content-section .text-field .header p {
  display: inline;
  width: 30%;
  background: var(--light-white-color);
  text-align: center;
  padding: 13px;
  border-radius: 28px;
  position: relative;
  color: var(--dark-blue-text-color);
}
.single-belog-title-section .content-section .text-field .header span {
  position: relative;
}

.single-belog-title-section .content-section .text-field .header p:before {
  margin-top: -24px;
  border-bottom-left-radius: 35px;
  width: 20px;
  right: -16px;
  top: 31px;
  transform: rotate(352deg);
  height: 20px;
  background: transparent;
  box-shadow: -7px 7px 0 var(--light-white-color);
  position: absolute;
  content: "";
}
.single-belog-title-section .content-section .text-field .header p:after {
  margin-top: -24px;
  border-bottom-right-radius: 35px;
  width: 20px;
  left: -16px;
  top: 31px;
  transform: rotate(8deg);
  height: 20px;
  background: transparent;
  box-shadow: 7px 7px 0 var(--light-white-color);
  position: absolute;
  content: "";
}

.single-belog-title-section .content-section .text-field .header span::after {
  position: absolute;
  width: 8px;
  height: 8px;
  content: "";
  background-color: var(--dark-blue-color);
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.single-belog-title-section .content-section .text-field .body {
  justify-content: space-between;
  text-align: end;
  display: flex;
  padding: 20px;
  border-radius: 20px;
  background: var(--light-blue-color);
  color: var(--normal-text-color);
}
.single-belog-content-section .normal-content-wrapper {
  color: var(--normal-text-color);
}
.single-belog-content-section .normal-content-wrapper h6 {
  font-family: peyda-bold;
  font-size: 14px;
}
.single-belog-content-section .normal-content-wrapper p {
  text-align: justify;
  font-size: 14px;
  margin: 7px 0;
}
.single-belog-content-section .normal-content-wrapper {
  margin: 30px 0;
}
.single-belog-content-section .list-content-wrapper {
  background-color: var(--light-cream-color);
  border-radius: 20px;
  padding: 30px;
}
.single-belog-content-section .list-content-wrapper h5 {
  font-size: 18px;
  font-family: peyda-bold;
  margin: 10px 0;
}

.single-belog-content-section .list-content-wrapper li {
  position: relative;
  padding: 5px 0;
  padding-right: 30px;
}
.single-belog-content-section .list-content-wrapper li::after {
  position: absolute;
  width: 8px;
  height: 8px;
  content: "";
  background-color: var(--normal-cream-color);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.single-belog-content-section .content-container {
  width: 80%;
  margin: auto;

  z-index: 1;
}
.single-belog-content-section {
  margin-top: -30px;
  position: relative;
  z-index: -2;
  margin-top: -250px;
  padding-top: 300px;
}
.single-belog-content-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  left: 0;
  top: -70px;
  background-image: linear-gradient(
    to bottom,
    var(--light-white-color) 25%,
    var(--background-color)
  );
}

.comment-section .user-comment-container {
  width: 80%;
  margin: 100px auto;
}
.comment-section .user-comment-container .title {
  margin: 20px 0;
}
.comment-section .user-comment-container .title h3 {
  font-size: 24px;
  color: var(--normal-text-color);
}
.comment-section .user-comment-container .comment-container {
  background-color: var(--light-white-color);
  padding: 35px;
  border-radius: 20px;
}
.comment-section .user-comment-container .comment-container .comment-item {
  margin: 30px 0;
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-item
  .user-comment-details {
  display: flex;
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-item
  .user-comment-details
  .profile-image {
  width: 50px;
  height: 50px;
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-item
  .user-comment-details
  .profile-image
  svg {
  width: 100%;
  height: 100%;
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-item
  .user-comment-details
  .profile-image
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-item
  .user-comment-details
  .user-detail {
  margin: 0 25px;
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-item
  .user-comment-details
  .user-detail
  .user-name {
  font-size: 17px;
  color: var(--normal-text-color);
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-item
  .user-comment-details
  .user-detail
  .date-of-comment {
  font-size: 14px;
  color: var(--normal-text-color);
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-item
  .user-comment-details
  .user-detail
  .date-of-comment
  span {
  padding: 0 3px;
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-item
  .user-comment-details
  .answer {
  padding: 10px 0;
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-item
  .user-comment-details
  .answer
  a {
  height: 100%;
  padding: 0 20px;
  display: table;
  background: var(--light-blue-color);
  color: var(--normal-text-color);
  border-radius: 20px;
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-item
  .user-comment-text {
  color: var(--normal-text-color);
  padding: 10px 0;
}

.comment-section
  .user-comment-container
  .comment-container
  .comment-children
  .comment-item {
  padding: 20px 30px;
  background: var(--light-blue-color);
  border-radius: 20px;
}

.comment-section
  .user-comment-container
  .comment-container
  .comment-children
  .comment-item
  .user-comment-details
  .profile-image {
  width: 50px;
  height: 50px;
  background-color: var(--dark-blue-color);
  border-radius: 50%;
  padding: 10px;
}
.comment-section
  .user-comment-container
  .comment-container
  .comment-children
  .comment-item
  .user-comment-details
  .answer
  a {
  background-color: var(--background-color);
}

.accordion-fag-single-page .accordion-fag-container {
  width: 80%;
  margin: auto;
}
.comment-section .user-comment-container .comment-form {
  margin-top: 60px;
}
.user-comment-container .comment-form .comment-form-title {
  color: var(--normal-text-color);
  margin-bottom: 25px;
}
.user-comment-container .comment-form textarea {
  min-width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 20px;
  height: 150px;
  outline: none;
  color: var(--normal-text-color);
  margin-bottom: 15px;
  border: 1px solid var(--light-white-border-color);
}
.user-comment-container .comment-form form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user-comment-container .comment-form form input {
  width: 38%;
  outline: none;
  margin: 15px 0;
  border: 1px solid var(--light-white-border-color);
  padding: 10px;
  border-radius: 25px;
  color: var(--normal-text-color);
}
.user-comment-container .comment-form form .button {
  width: 20%;
  border: unset;
  background-color: var(--light-blue-color);
  color: var(--dark-blue-text-color);
  font-size: 18px;
}

.about-this-page-section .about-this-page-container {
  width: 80%;
  margin: 85px auto;
  border-bottom: 2px dashed var(--light-white-border-color);
}
.about-this-page-section .about-this-page-container .about-this-page {
  background-color: var(--light-white-color);
  margin: 45px 0;
  border-radius: 20px;
  display: flex;
  padding: 35px 20px;
  justify-content: space-between;
}
.about-this-page-section .about-this-page-container .about-this-page svg {
  width: 100%;
  height: 100%;
}
.about-this-page-section .about-this-page-container .about-this-page .wrapper {
  display: flex;
  align-items: center;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.like-wrapper {
  width: 15%;
  padding: 0 5px;
  justify-content: space-between;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.like-wrapper
  .like-dislike-section {
  display: flex;
  width: 45%;
  justify-content: space-between;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.like-wrapper
  .like-dislike-section
  .icon {
  width: 20px;
  height: 20px;
}

.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.like-wrapper
  .like-dislike-section
  .dislike-wrapper
  .icon {
  transform: rotate(180deg);
  margin-top: 10px;
  cursor: pointer;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.like-wrapper
  .like-dislike-section
  .dislike-wrapper
  .icon
  svg:hover
  path {
  fill: var(--normal-red-color);
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.like-wrapper
  .like-dislike-section
  .like-wrapper
  .icon
  svg:hover
  path {
  fill: var(--dark-blue-text-color);
}

.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.like-wrapper
  .like-dislike-section
  .dislike-wrapper,
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.like-wrapper
  .like-dislike-section
  .like-wrapper {
  position: relative;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.like-wrapper
  .text {
  font-size: 12px;
  color: var(--normal-text-color);
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.like-wrapper
  .like-dislike-section
  .like-counter {
  position: absolute;
  top: -20px;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.page-address {
  width: 30%;
  padding: 0 5px;
  justify-content: space-between;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.page-address
  .icon {
  width: 23px;
  height: 23px;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.page-address
  .address-text {
  width: 100%;
  padding: 0 5px;
  font-size: 12px;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.page-address
  .address-text
  p {
  border: 2px dashed var(--light-white-border-color);
  padding: 5px;
  border-radius: 20px;
  color: var(--normal-text-color);
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials {
  width: 30%;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  color: var(--normal-text-color);
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  width: 60%;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.save-pdf {
  width: 15%;
  padding: 0 10px;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.save-pdf
  a {
  background-color: var(--light-blue-color);
  width: 100%;
  text-align: center;
  padding: 5px 0;
  border-radius: 30px;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon {
  width: 20px;
  position: relative;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon:hover.telegram::after,
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon:hover.whats-app::after,
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon:hover.linkdin::after,
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon:hover.twitter::after,
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon:hover::before {
  opacity: 1;
}
.icon:hover.linkdin::after,
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon:hover
  path {
  fill: var(--dark-blue-text-color);
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon.whats-app::after {
  transition: all 0.3s ease;
  content: "whats app";
  top: -25px;
  font-size: 10px;
  width: 43px;
  padding: 2px 5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 20px;
  color: var(--light-white-color);
  background-color: var(--dark-blue-color);
  opacity: 0;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon::before {
  transition: all 0.3s ease;
  content: "➧";
  position: absolute;
  top: -10px;
  left: 30%;
  color: var(--dark-blue-text-color);
  font-size: 10px;
  transform: rotate(90deg) translateX(-50%);
  opacity: 0;
}

.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon.telegram::after {
  transition: all 0.3s ease;
  content: "telegram";
  top: -25px;
  font-size: 10px;
  width: 38px;
  padding: 2px 5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 20px;
  color: var(--light-white-color);
  background-color: var(--dark-blue-color);
  opacity: 0;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon.linkdin::after {
  transition: all 0.3s ease;
  content: "linkdin";
  top: -25px;
  font-size: 10px;
  width: 30px;
  padding: 2px 5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 20px;
  color: var(--light-white-color);
  background-color: var(--dark-blue-color);
  opacity: 0;
}
.about-this-page-section
  .about-this-page-container
  .about-this-page
  .wrapper.share-socials
  .socials
  .icon.twitter::after {
  transition: all 0.3s ease;
  content: "twitter";
  top: -25px;
  font-size: 10px;
  width: 30px;
  padding: 2px 5px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 20px;
  color: var(--light-white-color);
  background-color: var(--dark-blue-color);
  opacity: 0;
}

@media (min-width: 1400px) {
  .about-this-page-section
    .about-this-page-container
    .about-this-page
    .wrapper.share-socials
    .socials
    .icon {
    width: 26px;
    position: relative;
  }
  .about-this-page-section
    .about-this-page-container
    .about-this-page
    .wrapper.page-address
    .address-text {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }
  .about-this-page-section
    .about-this-page-container
    .about-this-page
    .wrapper.page-address
    .address-text {
    width: 85%;
  }
  .about-this-page-section
    .about-this-page-container
    .about-this-page
    .wrapper.like-wrapper
    .like-dislike-section
    .icon {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 992px) {
  .single-belog-title-section .content-section .text-field .body {
    justify-content: start;

    flex-wrap: wrap;
  }
  .single-belog-title-section .content-section .text-field .body .item {
    padding: 2px 10px;
  }
  .about-this-page-section .about-this-page-container .about-this-page {
    justify-content: space-between ;
    flex-wrap: wrap;
  }
  .about-this-page-section
    .about-this-page-container
    .about-this-page
    .wrapper.like-wrapper {
    width: 25%;
  }
  .about-this-page-section
    .about-this-page-container
    .about-this-page
    .wrapper.page-address {
    width: 45%;
  }
  .about-this-page-section
    .about-this-page-container
    .about-this-page
    .wrapper.share-socials {
    width: 40%;
  }
  .about-this-page-section
    .about-this-page-container
    .about-this-page
    .wrapper.save-pdf {
    width: 25%;
    padding: 0 10px;
  }
  .about-this-page-section .about-this-page-container .about-this-page .wrapper {
    margin: 15px 0;
}
.about-this-page-section .about-this-page-container .about-this-page {
  padding: 15px 20px;
}
.article-slider.shadow-around::before {

  box-shadow: -14px 0px 166px 260px var(--background-color);
}
.article-slider.shadow-around::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  z-index: 100;
  left: 0;
  transform: translateY(-50%);
  top: 50%;
  background-color: var(--background-color);
  box-shadow: 14px 0px 166px 260px var(--background-color);
}
}
@media (max-width: 768px) {
  .single-belog-title-section .content-section .text-field .body {
    justify-content: center;
  }
  .single-belog-title-section .content-section .text-field .body span:nth-of-type(1){
    display: none;
  }
  .single-belog-title-section .content-section .text-field .body span:nth-of-type(2){
    display: none;
  }
  .about-this-page-section .about-this-page-container .about-this-page .wrapper.share-socials {
    width: 55%;
}
.about-this-page-section .about-this-page-container .about-this-page .wrapper.save-pdf {
  width: 35%;
  padding: 0 10px;
}
.about-this-page-section .about-this-page-container .about-this-page .wrapper.like-wrapper {
  width: 35%;
}
.about-this-page-section .about-this-page-container .about-this-page .wrapper.page-address {
  width: 60%;
}
.comment-section .user-comment-container .comment-container .comment-item .user-comment-details .answer {
  margin-top: 10px;
  width: 100%;
}
.comment-section .user-comment-container .comment-container .comment-item .user-comment-details {

  flex-wrap: wrap;
}
.comment-section .user-comment-container .comment-container .comment-item .user-comment-details .user-detail {
  width: 60%;
}
.article-slider.shadow-around::before {
  box-shadow: 0px 0px 150px 205px var(--background-color);
}
.article-slider.shadow-around::after {
  box-shadow: 0px 0px 150px 205px var(--background-color);
}
}
@media (max-width: 576px) {
  .comment-section .user-comment-container .comment-container .comment-item .user-comment-details .user-detail {
    width: 100%;
    margin: 0;
    margin-top: 15px;
    
}
.about-this-page-section .about-this-page-container .about-this-page .wrapper.like-wrapper {
  margin: 15px auto;
  width: 45%;
}
.about-this-page-section .about-this-page-container .about-this-page .wrapper.page-address {
  width: 100%;
}
.about-this-page-section .about-this-page-container .about-this-page .wrapper.share-socials {
  width: 100%;
}
.about-this-page-section .about-this-page-container .about-this-page .wrapper.save-pdf {
  width: 45%;
  padding: 0 10px;
  margin: auto;
}
.single-belog-title-section .content-section .text-field .body {
  font-size: 13px;
}
.article-slider.shadow-around::after { 
  display: none;
}
.article-slider.shadow-around::before {
  display: none;
}
.user-comment-container .comment-form form input {
  width: 100%;
}
.user-comment-container .comment-form form .button {
  width: 40%;
}
.single-belog-title-section .content-section .text-field .header p {
  width: 50%;
}
}
